<% content_for :title do %>Openstack Cluster<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="openstack" data-view="Image" data-title="logo" data-image="/logo.png" data-width="150px"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="nagios-prod" data-view="Nagios" data-unordered="true" data-title="Icinga Prod" data-moreinfo="Unacknowledged events"></div>
    </li>
  </ul>
</div>
